@import 'searchBox';

.home {
  max-width: 100%;
  padding: 0;

  .search.container {
    max-width: 100%;
    text-align: center;
    background-color: $blue;

    .row {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1, p {
      color: #ffffff;
      text-align: center;
    }

    h1 {
      font-size: 36px;
      font-weight: 500 !important;
    }
  }

  .developer {
    h2 {
      font-weight: 700 !important;
    }
    
    p.intro {
      font-size: 20px;
    }

    .row {
      width: 100%
    }

    .col-md-3 {
      border: 1px solid red;
      text-align: center;

      .button {
        img {
          display: block;
          margin: 0 auto 15px auto;
        }
      }

    }
  }
}
