@import 'searchBox';

.home {
  max-width: 100%;
  padding: 0;

  .search.container {
    max-width: 100%;
    text-align: center;
    background-color: $blue;
    background-image: url('/assets/img/home/bottom-background.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;

    .row {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1, p {
      color: #ffffff;
      text-align: center;
    }

    h1 {
      font-size: 36px;
      font-weight: 500 !important;
    }
  }

  .developer {
    h2 {
      font-weight: 700 !important;
    }
    
    p.intro {
      font-size: 20px;
    }

    .row {
      width: 100%
    }

    .col-md-2 {
      text-align: center;

      button {
        display: block;
        width: 100%;
        padding: 15px 0 !important;
        border-radius: 15px !important;
      }

      img, span {
        display: block;
        margin: 0 auto 15px auto;
      }

    }
  }
}
