.basicAdvancedtoggle {
  text-align: right;
  .custom-control-inline {
    margin-left: 8px;
  }
  .custom-control-inline.blue label {
    color:$blue;
  }
  label::before {
    cursor: pointer;
  }
}
