.admin {

  @import 'domainInfo';
  @import 'subdomains';
  @import 'address';

  .btn-primary:not(:disabled):not(.disabled).active {
    background-color: $light-gray;
    border-color: $gray;
    color: $gray;
  }

  .toggleSwitch {
    text-align: right;
  }

  color: $gray;
  text-align: left;

  p {
    font-size: .9em;
  }

  .leftnav {
    ul {
      list-style-type: none;
      margin: 0;
      padding:0;

      li {
        font-size: 20px;

        a:first-letter {
          text-transform: uppercase;
        }

        a, button {
          padding:.1em 0;
          margin: 0 0 .5em 0;
          display: inline-block;
        }

        a:hover, button:hover {
          color: $blue;
          font-weight: 400 !important;
        }

        a.active {
          font-weight: 500 !important;
          border-bottom:2px solid $blue;
        }
      }

      li button {
        text-transform: capitalize;
        border: none;
        background: none;
        color: $blue;
        font-weight: 300 !important;
      }
    }
  }

  h1 {
    font-size: 20px;
    color: $blue;
  }

  h1:first-letter, h2:first-letter {
    text-transform: uppercase;
  }

  h2 {
    font-size: 20px;
    color:$blue;
  }
}

@import 'transferModal';
