.transferModal {
  h2 {
    font-size: 1em;
    text-align: center;
  }

  button {
    display: inline-block;
    padding: 10px 20px !important;
    margin: 1em;
    border: 1px solid var(--primary-color);
    background: var(--secondary-color-light);
    color: var(--primary-color);
  }

  button:hover {
    border-color: var(--secondary-color-light);
  }
}
