.transferModal {
  h2 {
    font-size: 1em;
    text-align: center;
  }

  button {
    display: inline-block;
    padding: 10px 20px !important;
    margin: 1em;
    border: 1px solid #4B5CF0;
    background: $white;
    color: #4B5CF0;
  }

  button:hover {
    border-color: $light-gray;
  }
}
