.addressInput {
  .row {
    width: 100%;
    margin: 0;
  }

  button:hover {
    box-shadow: none !important;
  }

  .view {
    border: 1px solid $gray;
    padding: 10px 0px;
    width: 100%;
    font-size: .9em;
    margin: 0 15px !important;

    .label {
      color: $blue;
      text-align: center;
      overflow: hidden;
    }

    .value {
      text-align: center;
    }

    .options {
      text-align: right;
    }

    button {
      border: none;
      background: $white;
    }
  }

  div.edit {
    width: 100%;
    margin: 1em 0;

    .editLabel {
      text-align: center;
      font-size: .9em;
    }

    input, input:focus {
      width: 100%;
      border: 1px solid $gray !important;
      padding:10px 20px;
      border-radius: 12px;
      color: $gray;
    }

    input::-webkit-input-placeholder {
      text-align: center;
      color: #E5E5E5;
      font-size: .9em;
    }

    button {
      padding:10px 20px !important;
      margin-left: 5px;
      border-radius: 15px;
      width: 47%
    }
    
    button.cancel {
      border:1px solid $gray;
      background: $white;
      color: $gray;
      font-weight: 300 !important;
    }

  }

  div.delete {
    background-color: $light-gray;
    padding: 1em 2em;
    margin: 1em auto;

    button {
      padding:10px 20px !important;
      margin-left: 5px;
      border-radius: 15px;
      width: 47%
    }
    
    button.cancel {
      border:1px solid $gray;
      background: $white;
      color: $gray;
      font-weight: 300 !important;
    }
  }

  div.waiting {
    margin: 1em 0;
    text-align: center;
  }

  div.error {
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid $red;
    background-color: $light-red;
    text-align: center;
    position: relative;
  }

  div.error button, div.success button {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 10px;
    padding: .5em .5em 1em 0;
  }

  div.success {
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    text-align: center;
    position: relative;
    border: 1px solid $blue;
    border-radius: 12px;

    strong {
      font-weight: 500 !important;
      color: $blue;
    }
  }
}
