button.share-button:hover {
  border: none !important;
}

#share-popover {
  border: none !important;

  .arrow {
    display: none;
  }

  .popover-body {
    background-color: var(--secondary-color-light);
    border-radius: 12px;
    text-align: center;

    h2 {
      font-size: 16px !important;
    }

    .row {
      min-width: 250px;

      .btn-link:hover {
        border-color: var(--secondary-color-light) !important;
        text-decoration: none !important;
        font-weight: 400 !important;
        color: var(--primary-color) !important;
      }

      .btn-link {
        color: var(--secondary-color) !important;

        img {
          display: block;
          margin: 0 auto 5px auto;
          width: 30px;
        }
      }

      .btn-link.active {
        color: var(--secondary-color-light);
      }
    }

    .share-link {
      input {
        padding: 5px;
        border-radius: 10px;
        margin: 0 10px;
        width: 90%;
      }
    }
  }
}
