.major-section {
  margin: 1.5em 0;
}

.minor-section {
  margin: .75em 0;
}

.break-above {
  margin-top: .75em;
}

.large-break-above {
  margin-top: 3em;
}

.break-below {
  margin-bottom: .75em;
}
