.register {

  margin-top:1em;
  
  .domain {
    color:#e83e8c;
  }

  .card-header {
    p {
      margin-bottom: 0;
      line-height: 2em;
    }
    .step {
      text-align: right;
    }
    .description {
      text-align: left;
    }
  }
}